---
import Layout from '@/layouts/Layout.astro'
import Icon from '@/components/Icon.astro'
import Link from '@/components/Link.astro'

import { SOCIALS_NETWORKS } from '@/utils/consts'
---

<Layout>
  <section class="grid h-[99.5vh] max-h-[70rem] place-items-center text-center">
    <main>
      <h1 class="text-heading1 font-bold text-black uppercase dark:text-white">Erick Vargas</h1>
      <h2 class="text-heading2 text-secondary dark:text-primary font-medium tracking-[0.5em] uppercase">
        Frontend Developer
      </h2>
      <ul class="flex justify-center gap-12 pt-8">
        {
          SOCIALS_NETWORKS.map(({ name, url }) => (
            <li>
              <Link external to={url} title={name}>
                <Icon {name} class="h-6 w-6 text-black md:h-8 md:w-8 dark:text-white" />
              </Link>
            </li>
          ))
        }
      </ul>
    </main>
  </section>
</Layout>
