---
import Layout from "@/layouts/Layout.astro";
import Icon from "@/components/Icon.astro";
import Link from "@/components/Link.astro";

import { SOCIALS_NETWORKS } from "@/utils/constants";
---

<Layout>
  <section class="grid h-[99.5vh] max-h-[70rem] place-items-center text-center">
    <main>
      <h1 class="text-heading1 font-bold uppercase text-black dark:text-white">Erick Vargas</h1>
      <h2 class="text-heading2 font-medium uppercase tracking-[0.5em] text-secondary dark:text-primary">
        Frontend Developer
      </h2>
      <ul class="flex justify-center gap-12 pt-8">
        {
          SOCIALS_NETWORKS.map(({ name, url }) => (
            <li>
              <Link external to={url} title={name}>
                <Icon name={name} class="h-6 w-6 text-black dark:text-white md:h-8 md:w-8" />
              </Link>
            </li>
          ))
        }
      </ul>
    </main>
  </section>
</Layout>
