---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="grid h-[99.5vh] max-h-[70rem] place-items-center text-center">
    <main>
      <h1 class="text-heading1 font-bold uppercase text-black dark:text-white">Erick Vargas</h1>
      <h2 class="text-heading2 font-medium uppercase tracking-[0.5em] text-secondary dark:text-primary">
        Frontend Developer
      </h2>
    </main>
  </section>
</Layout>
