---
import Layout from '@/app.astro'
import Text from '@/components/Text.astro'
import Link from '@/components/Link.astro'
import Image from '@/components/Image.astro'
// import Button from '@/components/Button.astro'
// import Navbar from '@/components/Navbar.astro'
import Container from '@/components/Container.astro'
import LinkedinIcon from '@/icons/linkedin.svg'
import TwitterIcon from '@/icons/twitter.svg'
import GithubIcon from '@/icons/github.svg'

const title = 'Erick Vargas | Portfolio'
const description = 'Focused on improving performance and the user experience in your web applications'
---

<Layout {title} {description}>
  <!-- <Container as="header" class="fixed inset-x-0 top-0 z-30 w-full px-4 pt-6 md:px-8">
    <Navbar />
  </Container> -->
  <Container unlimited as="main">
    <section class="lg:overflow-hidden">
      <div
        class="relative mx-auto flex max-h-[60rem] max-w-6xl grid-cols-3 flex-col gap-8 gap-y-16 px-4 py-16 md:px-8 lg:grid lg:h-screen lg:pt-40 xl:pt-64"
      >
        <section class="col-span-2 lg:pb-24">
          <article>
            <header>
              <Text as="h1" class="font-primary text-title max-w-[36rem] font-semibold text-balance lg:max-w-none">
                <Text featured as="strong">Erick Vargas</Text> Frontend developer.
              </Text>
            </header>
            <!-- <footer class="mt-6 flex flex-wrap gap-4 md:gap-8">
              <Button primary id="btn-work">Let's Work</Button>
              <Button secondary id="btn-who">Who is me</Button>
            </footer> -->
          </article>

          <Container
            unlimited
            as="article"
            class="font-secondary w-full max-w-2xl pt-10 text-xl tracking-wide text-balance text-gray-300 lg:absolute lg:bottom-16 lg:left-8"
          >
            <Text>
              I love writing code, developing high performance web and apps with a focus on creating good and secure
              user experiences.
            </Text>
          </Container>
        </section>
        <section class="relative md:h-[420px]">
          <div
            class="hidden h-full w-full min-w-[460px] flex-col gap-4 sm:min-w-[660px] lg:absolute lg:top-64 lg:block lg:min-w-[1150px]"
          >
            <div class="flex">
              <section class="relative z-10 grid content-start gap-y-8 pt-32 pr-4 *:text-gray-300">
                <Link external to="https://github.com/eriandev" title="Github">
                  <GithubIcon size={32} class="relative transition-[scale] duration-300 ease-in-out hover:scale-125" />
                </Link>
                <Link external to="https://www.linkedin.com/in/eriandev" title="Linkedin">
                  <LinkedinIcon
                    size={32}
                    class="relative transition-[scale] duration-300 ease-in-out hover:scale-125"
                  />
                </Link>
                <Link external to="https://x.com/eriandev" title="Twitter">
                  <TwitterIcon size={32} class="relative transition-[scale] duration-300 ease-in-out hover:scale-125" />
                </Link>
              </section>
              <aside>
                <Image
                  width={444}
                  height={440}
                  alt="Green glow"
                  src="/images/green-glow.webp"
                  class="absolute inset-0 -top-full h-[820px] w-full"
                />
                <Image alt="code" width={120} height={120} src="/images/code.webp" class="relative h-full w-full" />
              </aside>
            </div>
          </div>
        </section>
      </div>
    </section>
  </Container>
</Layout>
