---
import type { ButtonProps } from '@/components/types'

interface Props extends ButtonProps {}

const { class: extraClass, styleType = 'primary', ...restProps } = Astro.props
---

<button class:list={['btn', styleType, extraClass]} {...restProps}>
  <slot />
</button>
