---
import type { ButtonProps } from '@/components/types'

interface Props extends ButtonProps {}

const { primary = false, secondary = false, class: extraClass, ...restProps } = Astro.props
---

<button class:list={['btn', { primary, secondary }, extraClass]} {...restProps}>
  <slot />
</button>
