---
import Text from '@/components/text.astro'
import Image from '@/components/image.astro'
import Container from '@/components/container.astro'
import type { JobCardProps } from '@/components/types.ts'

interface Props extends JobCardProps {}

const { company, position, description, logo } = Astro.props
const descriptionParts = description?.split('—')
---

<Container
  unlimited
  as="article"
  class="flex w-full items-center justify-between rounded-lg dark-x-gradient px-6 py-3.5 font-primary shiny transition-shadow duration-500 ease-in-out"
>
  <div class="flex items-center gap-x-4 tracking-wide">
    {logo && <Image lazy {...logo} class="size-10 rounded-md" />}

    <hgroup>
      <Text as="h3" class="text-base font-semibold text-primary">
        {company}
      </Text>
      <Text as="h4">{position}</Text>
    </hgroup>
  </div>

  {
    description && (
      <div class="flex flex-col-reverse gap-x-2 gap-y-1 sm:flex-row">
        {descriptionParts?.map((part, index) => (
          <>
            <Text>{part}</Text>
            {index === 0 ? <span class="hidden sm:block">—</span> : null}
          </>
        ))}
      </div>
    )
  }
</Container>
