---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
  to: string
  external?: boolean
}

const { to, title, external = false } = Astro.props
---

<a href={to} title={title} target={external ? '_blank' : null} rel={external ? 'noopener noreferrer' : null}>
  <slot />
</a>
