---
import type { HTMLAttributes } from 'astro/types'

interface Props extends Omit<HTMLAttributes<'a'>, 'href'> {
  to: string
  btn?: boolean
  external?: boolean
  featured?: boolean
}

const { to, title, external = false, featured = false, btn = false, class: extraClass, ...restProps } = Astro.props
const rel = external ? 'noopener noreferrer' : null
const target = external ? '_blank' : null
---

<a {rel} {target} {title} href={to} class:list={[{ btn, 'link featured': featured }, extraClass]} {...restProps}>
  <slot />
</a>
