@import 'tailwindcss';

@font-face {
  font-family: 'Ubuntu Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/ubuntu-sans-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Sans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/ubuntu-sans-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/ubuntu-sans-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Sans Mono';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/ubuntu-sans-mono-600.woff2') format('woff2');
}

@theme {
  --font-primary: 'Ubuntu Sans Mono', monospace;
  --font-secondary: 'Ubuntu Sans', sans-serif;

  --color-black: #090e19;
  --color-primary: #02abb2;
  --color-secondary: #5e79d1;

  --text-title: clamp(2.25rem, 5vw, 4rem);
  --text-title--line-height: 1.2;
  --text-subtitle: clamp(0.875rem, 2vw, 1.5rem);
  --text-subtitle--line-height: 1.2;
}

@layer components {
  .btn {
    @apply font-secondary cursor-pointer px-12 py-3 leading-tight font-bold text-white;
    @apply border-primary rounded-md border-4 transition-[scale] duration-250 ease-in-out;

    &:hover {
      scale: 1.05;
    }

    &:active {
      scale: 1;
    }

    &.primary {
      background-color: var(--color-primary);
    }

    &.secondary {
      border-color: --alpha(var(--color-primary) / 40%);
      background-color: --alpha(var(--color-primary) / 10%);
    }
  }

  .text.featured {
    @apply from-primary to-secondary inline-block bg-linear-to-r bg-clip-text text-transparent;
  }

  .link.featured {
    @apply text-primary relative inline-block leading-tight font-bold;
    @apply before:from-primary before:to-secondary before:bg-linear-to-r;
    @apply before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-0;
    @apply before:transition-[width] before:duration-300 before:ease-[ease] before:content-[''] hover:before:w-full;
  }
}
