---
import SEO from '@/components/SEO.astro'
import '@/app.css'

export interface Props {
  title?: string
  description?: string
}

const {
  title = 'Erick Vargas | Portfolio',
  description = 'Focused on improving performance and the user experience in your web applications',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#02ABB2" />

    <SEO title={title} description={description} />
  </head>

  <body class="bg-very-light-green font-montserrat min-h-screen dark:bg-black">
    <slot />
  </body>
</html>
